---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro'
import SectionContainer from '../components/SectionContainer.astro'
import SocialPill from '../components/SocialPill.astro';
import BriefcaseIcon from '../icons/BriefcaseIcon.astro';
import Experience from '../components/Experience.astro';
import CodeIcon from '../icons/CodeIcon.astro';
---

<Layout title="Fredd Dev - Desarrollador Web y Diseñador Gráfico" desc='Creando aplicaciones web únicas y diseños impactantes para tu marca.'>
	<main>
		<SectionContainer class="pt-44 pb-10">
			<div class="flex gap-x-4 items-center mb-4">
				<h1 class="font-bold text-5xl">Hey, soy Fredd</h1>
				<Badge>Disponible para trabajar.</Badge>
			</div>
			<h2 class="text-xl opacity-80 mb-4"><span class="text-yellow-200">Desarrollador Web Frontend Junior</span> y <span class="text-yellow-200">Diseñador Gráfico </span> de Ciudad Del Este, Paraguay. Especializado en crear aplicaciones web con la identidad visual que <span class="text-violet-300">tu empresa necesita.</span></h2>
			<nav class="gap-x-2 flex">
				<SocialPill href="https://www.linkedin.com/in/freddy-sanabria-7544891b9/">
					LinkedIn
				</SocialPill>
				<SocialPill href="https://www.instagram.com/freddsana/">
					Instagram
				</SocialPill>
				<SocialPill href="https://www.instagram.com/freddsana/">
					TikTok
				</SocialPill>
				<SocialPill href="https://www.instagram.com/freddsana/">
					GitHub
				</SocialPill>
				<SocialPill href="https://www.instagram.com/freddsana/">
					freddyemanuelsanabrianalerio@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer class="mt-20" id="experience">
			<h2 class="text-2xl font-semibold flex gap-x-4 items-center mb-6">
				<BriefcaseIcon class="size-8"/>
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer>
			<h2 class="text-2xl font-semibold flex gap-x-4 items-center mb-6">
				<CodeIcon class="size-8"/>
				Proyectos
			</h2>
			
		</SectionContainer>
	</main>
</Layout>
 