---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro'
import SectionContainer from '../components/SectionContainer.astro'
import SocialPill from '../components/SocialPill.astro';
import BriefcaseIcon from '../icons/BriefcaseIcon.astro';
import Experience from '../components/Experience.astro';
import CodeIcon from '../icons/CodeIcon.astro';
import Projects from '../components/Projects.astro';
import DesignGallery from '../components/DesignGallery.astro';
import Brush from '../icons/Brush.astro';
---

<Layout title="Freddy Sanabria - Desarrollador Web y Diseñador Gráfico" description='Creando aplicaciones web únicas y diseños impactantes para tu marca.'>
	<main>
		<SectionContainer class="pt-44 lg:pt-56 pb-16 lg:pb-10 h-screen lg:h-auto">
			<div class="flex flex-col gap-y-4 lg:gap-x-4 lg:flex-row items-center mb-4">
				<img src="/avatar.webp" alt="avatar" class="rounded-full w-32 h-32 lg:hidden">
				<h1 class="font-bold text-4xl lg:text-5xl dark:text-white">Hey, soy Fredd</h1>
				<Badge>Disponible para trabajar.</Badge>
			</div>
			<h2 class="text-md lg:text-xl opacity-80 mb-4 text-center lg:text-left dark:text-white"><span class="dark:text-yellow-200 text-yellow-700">Desarrollador Web Frontend Junior</span> y <span class="dark:text-yellow-200 text-yellow-700">Diseñador Gráfico </span> de Ciudad Del Este, Paraguay. Especializado en crear aplicaciones web con la identidad visual que <span class="dark:text-red-300 text-violet-700">tu empresa necesita.</span></h2>
			<nav class="gap-2 flex flex-wrap justify-center lg:justify-start">
				<SocialPill href="https://www.linkedin.com/in/freddy-sanabria-7544891b9/">
					LinkedIn
				</SocialPill>
				<SocialPill href="https://www.instagram.com/freddsana/">
					Instagram
				</SocialPill>
				<SocialPill href="https://www.tiktok.com/@freddsana/">
					TikTok
				</SocialPill>
				<SocialPill href="https://github.com/freddwithy/">
					GitHub
				</SocialPill>
				<SocialPill href="mailto:freddyemanuelsanabrianalerio@gmail.com" >
					freddyemanuelsanabrianalerio@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer class="mt-20" id="experience">
			<h2 class="text-2xl font-semibold flex gap-x-4 items-center mb-6 text-black dark:text-white">
				<BriefcaseIcon class="size-8 "/>
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer class="flex flex-col" id="projects">
			<h2 class="text-2xl font-semibold flex gap-x-4 items-center mb-6 text-black dark:text-white">
				<CodeIcon class="size-8"/>
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
		<SectionContainer class="flex flex-col" id="projects">
			<h2 class="text-2xl font-semibold flex gap-x-4 items-center mb-6 text-black dark:text-white">
				<Brush class="size-8"/>
				Diseños
			</h2>
			<DesignGallery />
		</SectionContainer>
	</main>
</Layout>
 