<footer class="dark:bg-slate-900 bg-gray-200 rounded-lg shadow m-4 w-full max-w-[300px] lg:max-w-[1120px] md:max-w-2xl">
    <div class="w-full flex flex-col items-center justify-center p-4  md:flex-row md:items-center md:justify-between">
        <span class="text-sm sm:text-center text-purple-700 dark:text-purple-200">© 2024 <a href="#top" class="hover:underline">Freddy Sanabria</a>
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-slate-200 sm:mt-0">
            <li>
                <a href="#about" class="hover:underline me-4 md:me-6">Sobre mí</a>
            </li>
            <li>
                <a href="#contact" class="hover:underline">Contacto</a>
            </li>
        </ul>
    </div>
</footer>