<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
    <img src="/avatar.webp" alt="" class="h-12 w-12 rounded-full">
    <nav class="flex gap-x-10">
        <a href="/">Inicio</a>
        <a href="/about">Acerca de mi</a>
        <a href="/projects">Proyectos</a>
        <a href="/contact">Contacto</a>
    </nav>
</header>