---
import { getI18n } from "../i18n/ui"
import LanguageSelector from "./LanguageSelector.astro"

const { currentLocale = 'es' } = Astro
const i18n = getI18n({ currentLocale })

const navItems = i18n.MAIN_PAGE.HEADER.NAV_LINKS

const NAV_LINKS = []

NAV_LINKS.push(
    {
        title: navItems.EXPERIENCE.TITLE,
        link: navItems.EXPERIENCE.LINK
    },
    {
        title: navItems.PROJECTS.TITLE,
        link: navItems.PROJECTS.LINK
    },
    {
        title: navItems.DESIGNS.TITLE,
        link: navItems.DESIGNS.LINK
    
    }
)
---

<header id="header-nav" class="flex mx-auto justify-center items-center my-8 p-2 fixed bg-slate-900/60 backdrop-blur-sm border border-white/20 md:max-w-[1120px] max-w-sm rounded-full z-10">
    <a href={navItems.HOME_LINK}>
        <img src="/avatar.webp" alt="avatar" class="hidden md:size-10 rounded-full md:flex hover:scale-105 transition-all" id="avatar">
    </a>
     <nav class="flex mx-2 items-center gap-x-4">
        {
            NAV_LINKS.map((link) => (
                <a href={link.link} class="hover:text-yellow-700 dark:text-white transition-colors dark:hover:text-yellow-200 text-white md:text-black ease-linear text-sm md:text-base">{link.title}</a>
            ))
        }
        <LanguageSelector />
    </nav>
</header>
