---
import { languages } from '../i18n/ui';
import { getLangFromUrl } from '../i18n/utils';
import { useTranslatedPath } from '../i18n/utils';
import Paraguay from '../icons/paraguay.astro';
import Unitedstates from '../icons/unitedstates.astro';

const lang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(lang);
---

<div class="relative flex items-center z-50" id="dropdown">
        <div class="flex gap-x-2 items-center hover:scale-105 transition bg-white/10 px-3 py-1 rounded-lg cursor-pointer z-50" id="selected-language">
            { lang === "en" ? "English" : "Español"}
            { lang === "en" ? <Unitedstates class="size-4 md:size-6 rounded-full hover:scale-105 transition" id="selected-img"/> : <Paraguay class="size-4 md:size-6 rounded-full hover:scale-105 transition" id="selected-img"/>}
        </div>
        <ul class="hidden absolute top-12 z-50 -translate-x-1/2 bg-black/60 backdrop-blur-md rounded-lg left-1/2 overflow-hidden" id="dropdown-menu">
            {Object.entries(languages).map(([ lang ]) => (
                <li class="cursor-pointer hover:scale-105 transition-all space-y-2 hover:bg-white/10 w-full py-2 px-4" id="option">
                    <a href={translatePath("/", lang)} class="flex gap-x-2 items-center">
                        { lang === "en" ? <Unitedstates class="size-6 rounded-full" /> : <Paraguay class="size-6 rounded-full" />}
                        { lang === "en" ? "English" : "Español"}
                    </a>
                </li>
            ))}
        </ul>
</div>

<script>
    const dropdown = document.getElementById('dropdown');
    const menu = document.getElementById('dropdown-menu');

    if (dropdown && menu) {
        dropdown.addEventListener('pointerdown', () => {
            if (menu.classList.contains('hide') || menu.classList.contains('hidden')) {
                menu.classList.remove('hide');
                menu.classList.add('show');
                setTimeout(() => {
                    menu.classList.remove('hidden');
                }, 100);
            } else {
                menu.classList.add('hide');
                menu.classList.remove('show');
                setTimeout(() => {
                    menu.classList.add('hidden');
                }, 300);
        }
        });
    }

    document.addEventListener('pointerdown', (event) => {
        const target = event.target as HTMLElement;
        if (!dropdown?.contains(target) && !menu?.contains(target)) {
            menu?.classList.add('hide');
            menu?.classList.remove('show');
            setTimeout(() => {
                menu?.classList.add('hidden');
            }, 300);
        }
    });
</script>
