<a class='inline-flex cursor-pointer items-center justify-center rounded-full border border-slate-800 bg-black px-3 py-1 text-sm font-medium text-slate-300 backdrop-blur-3xl hover:bg-gray-900 transition-colors ease-linear'
    href={Astro.props.href}
    target="_blank"
>
    <span class='bg-gradient-to-t from-[#fff] to-[#8678f9] bg-clip-text text-transparent'>
      <slot/>
    </span>
</a>