<a class='inline-flex cursor-pointer items-center justify-center rounded-full border bg-gray-200 dark:border-slate-800 dark:bg-black px-3 py-1 text-sm font-medium text-slate-300 backdrop-blur-3xl dark:hover:bg-gray-900 transition-colors ease-linear hover:bg-gray-300'
    href={Astro.props.href}
    target="_blank"
>
    <span class='dark:bg-gradient-to-t dark:from-[#fff] dark:to-[#8678f9] dark:bg-clip-text dark:text-transparent text-black'>
      <slot/>
    </span>
</a>