---
import ArrowUp from "../icons/ArrowUp.astro"
---

<div
    class="bg-black/30 border border-white/20 p-2 flex justify-center items-center fixed bottom-28 right-16 md:bottom-20 md:right-64 rounded-full size-10 cursor-pointer backdrop-blur-lg z-10 hover:scale-105 transition-all hover:text-yellow-200 translate-y-64"
    id="upButton" 
    >
    <ArrowUp />
</div>

<script defer>
    document.addEventListener("DOMContentLoaded", function() {
    var scrollTopButton = document.getElementById("upButton");

        // Agregar un evento al hacer clic en el botón
        scrollTopButton.addEventListener("click", function() {
        // Mover el scrollTop al principio (0)
        document.body.scrollTop = 0; // Para navegadores antiguos
        document.documentElement.scrollTop = 0; // Para navegadores modernos
    });
});
</script>