---
import ArrowUp from "../icons/ArrowUp.astro"
---

<div
    class="bg-black/30 border border-white/20 p-2 flex justify-center items-center fixed bottom-28 right-16 md:bottom-20 md:right-64 rounded-full size-10 cursor-pointer backdrop-blur-lg z-10 hover:scale-105 transition-all hover:text-yellow-200 duration-150"
    id="upButton" 
    >
    <ArrowUp />
</div>

<script defer>
    document.getElementById('upButton').addEventListener('click', () => {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    });

    window.addEventListener('scroll', () => {
        if (window.scrollY > 20) {
            document.getElementById('upButton').classList.add('show');
            document.getElementById('upButton').classList.remove('hide');
        } else {
            document.getElementById('upButton').classList.remove('show');
            document.getElementById('upButton').classList.add('hide');
        }
    });
</script>
