---
import SectionContainer from "../../components/SectionContainer.astro";
import 'photoswipe/style.css';
import Brush from "../../icons/Brush.astro";
import Layout from "../../layouts/Layout.astro";
import FullGallery from "../../components/FullGallery.astro";

const GALLERY = [
    {
        name: "china",
        thumb: "/designs/thumbs/china.webp",
        img: "/designs/china.png",
        width: "1920",
        height: "1080",
        isVertical: false
    },
    {
        name: "cat",
        thumb: "/designs/thumbs/cat.webp",
        img: "/designs/cat.png",
        width: "3000",
        height: "4000",
        isVertical: true
    },
    {
        name: "crime",
        thumb: "/designs/thumbs/crime.webp",
        img: "/designs/crime.png",
        width: "1920",
        height: "1080",
        isVertical: false
    },
    {
        name: "spinetta",
        thumb: "/designs/thumbs/spinetta.webp",
        img: "/designs/spinetta.png",
        width: "1200",
        height: "1200",
        isVertical: true
    },
    {
        name: "dillom",
        thumb: "/designs/thumbs/dillom.webp",
        img: "/designs/dillom.png",
        width: "3000",
        height: "2000",
        isVertical: false
    },
]
---

<Layout title="Freddy Sanabria - Galería de Diseños y Montajes" description="Conoce todos algunos de mis diseños más destacables">
    <SectionContainer class="mt-36 lg:max-w-[1120px] flex flex-col items-center gap-4">
        <div class="max-w-[740px] mx-auto text-center flex flex-col items-center gap-4">
            <h1 class='flex gap-4 text-3xl lg:text-4xl dark:text-white font-bold'> 
                <Brush class="size-8 lg:size-10"/>
                Fotomontajes
            </h1>
            <h2 class="dark:text-white/70 text-pretty text-lg">
                En esta sección podrás ver mis <span class="dark:text-yellow-200">mejores manipulaciones de imagenes o fotomontajes</span>  hechos con <span class="dark:text-red-300">Photoshop especialmente</span> Todo esto fue 100% diseñado por mí.
            </h2>
        </div>
        <FullGallery 
            galeria={GALLERY}
        />
    </SectionContainer>
</Layout>