---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import HeaderMobile from '../components/HeaderMobile.astro';
import { UpButton } from '../components/UpButton.tsx';
// Supports weights 100-900
import '@fontsource-variable/onest';

interface Props {
	title: string;
	description: string
}

const { title, description } = Astro.props;

const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale} class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark:text-white text-black">
		<div class="dark:lg:flex fixed inset-0 hidden z-[-2] h-screen w-screen bg-slate-950  bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		<div class="dark:hidden hidden lg:flex fixed inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"><div class="absolute left-0 right-0 top-0 -z-10 m-auto h-[310px] w-[310px] rounded-full bg-fuchsia-400 opacity-20 blur-[100px]"></div></div>
		<header class="lg:flex justify-center"> 
			<Header />
			<HeaderMobile />
		</header>
		<UpButton client:visible />
		<slot />
		<footer class="flex justify-center ">
			<Footer />
		</footer>
	</body>
</html>
<style is:global>
	:root {

	}
	html {
		font-family: 'Onest Variable', sans-serif;
		scroll-behavior: smooth;
	}
	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		background-color: rgb(2 6 23);
	}

	@media (min-width: 740px) {
		#header-nav {
			animation: blur linear both 0.5s;
			animation-timeline: scroll();
			animation-range: 0 300px;
		}
	}

		#avatar {
			animation: avatar-blur linear both 0.5s;
			animation-timeline: scroll();
			animation-range: 0 300px;
	  	}

		#loadButton.show {
			animation: fadeIn 0.5s ease-out;
		}

		#loadButton.hide {
			animation: fadeOut 0.5s ease-out;
			animation-fill-mode: forwards;
		}

		#upButton.show {
			animation: fadeIn 0.5s ease-out;
		}

		#upButton.hide {
			animation: fadeOut 0.5s ease-out;
			animation-fill-mode: forwards;
		} 

		#dropdown-menu.show {
			animation: dropwdownShow 0.2s ease-out forwards;
		}

		#dropdown-menu.hide {
			animation: dropdownHide 0.2s ease-out forwards;
		}

		#mobile-header.open {
			animation: openNav 0.3s ease-in-out forwards;
		}

		#mobile-header.close {
			animation: closeNav 0.3s ease-in-out forwards;
		}


		@keyframes openNav {
			from {
				transform: translateY(-100%);
			}
			to {
				display: flex;
				transform: translateY(0);
			}
		}

		@keyframes closeNav {
			from {
				display: flex;
				transform: translateY(0);
			}
			to {
				transform: translateY(-100%);
			}
		}


		@keyframes fadeIn {
			from {
				opacity: 0;
				transform: translateY(20px);
			}
			to {
				display: block;
				opacity: 1;
				transform: translateY(0);
			}
		}

		@keyframes dropwdownShow {
			from {
				opacity: 0;
				transform: translateY(-20px) translateX(-50%)
			}
			to {
				opacity: 1;
				transform: translateY(0px) translateX(-50%)
			}
		}

		@keyframes dropdownHide {
			from {
				opacity: 1;
				transform: translateY(0px) translateX(-50%)
			}
			to {
				opacity: 0;
				transform: translateY(-20px) translateX(-50%)
			}
		}

		@keyframes fadeOut {
			from {
				opacity: 1;
				transform: translateY(0);
			} 
			to {
				display: none;
				opacity: 0;
				transform: translateY(20px);
			}
		}


		@keyframes buttonShow {
			to {
				transform: translateY(0px)
			}
		}

	  	@keyframes avatar-blur {
			from {
				opacity: 1;
			}
			to {
				opacity: 0;
				width: 20px;
				height: 20px;
			}
		}

        @keyframes  blur {
          from {
            border: 0px;
          }
          to {
            box-shadow:
              0px 5px 50px -5px rgba(0, 0, 0, 0.1),
              0px 0px 0 1px rgba(0, 0, 0, 0.3);
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(20px);
            border-width: 1px;
            border-color: rgba(255, 255, 255, 0.226);
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            padding-top: 0.40rem;
            padding-bottom: 0.40rem;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 9999px;
			width: 490px;
          }
        }
</style>
